Source: ros-rolling-color-util
Section: misc
Priority: optional
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-cmake-gtest <!nocheck>, ros-rolling-std-msgs, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-color-util
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-std-msgs, ros-rolling-ros-workspace
Description: An almost dependency-less library for converting between color spaces
